html { font-size: 16px; }
body {
  font-family: "Iosevka Slab", monospace;
  line-height: 1.4;
  color: var(--text);
  background-color: var(--base);
  min-height: 100vh;
}
h1, h2, h3, h4, h5, h6 { font-weight: 700; margin-bottom: 1rem; }
p { margin-bottom: 1rem; }
.file-list { list-style-type: square; margin-left: 1.5rem; }
