/*
 * Project style.css
 * Uses vendored tiny-brutalism.css
 * Modified by Pavel — 2025-10-05
 */

@import url("./tiny-brutalism.css");

:root {
    color-scheme: light dark;
}

body {
    background-color: var(--base);
    color: var(--text);
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 2px solid #000;
    box-shadow: 4px 4px 0 #000;
    margin-bottom: 1rem;
}

.header input {
    width: auto;
    background-color: var(--mantle);
    color: var(--text);
    line-height: normal;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 2.5rem;
    box-sizing: border-box;
}

.header input::placeholder {
    color: var(--subtext);
}

.header button {
    padding: 0 1.5rem; /* без вертикального */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
}

main {
    display: flex;
    border: 2px solid #000;
    margin-bottom: 1rem;
    padding: 5rem;
}

.small-button {
    font-size: 10px;
}

.button {
    background-color: var(--crust);
    color: var(--text);
}

.panel {
    flex: 1;
    padding: 1rem;
}

.panel + .panel {
    border-left: 2px solid #000;
}

.panel-header {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.file-list {
    font-family: "Roboto Mono", monospace;
    list-style-type: square;
    margin-left: 1.5rem;
}

footer {
    text-align: center;
    padding: 1rem;
    border: 2px solid #000;
    background-color: var(--accent-mauve);
    color: var(--text);
}
