<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <title>FTP Client</title>
        <meta name="color-scheme" content="light dark" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="/assets/css/iosevka.css" />
        <link
            id="css-light"
            rel="stylesheet"
            href="/assets/css/theme-latte.css"
            media="(prefers-color-scheme: light)"
        />
        <link
            id="css-dark"
            rel="stylesheet"
            href="/assets/css/theme-mocha.css"
            media="(prefers-color-scheme: dark)"
        />
        <link rel="stylesheet" href="/assets/css/tiny-brutalism.css" />
        <link rel="stylesheet" href="/assets/css/style.css" />
        <script defer src="https://unpkg.com/htmx.org@1.9.5"></script>
        <script type="module" src="/assets/js/init.js" defer></script>
    </head>

    <body>
        <form
            hx-post="/connect"
            hx-target="#remote-list"
            hx-swap="innerHTML"
            class="header"
        >
            <div>
                <label for="host">Адрес:</label>
                <input
                    type="text"
                    name="host"
                    id="host"
                    placeholder="127.0.0.1"
                />
            </div>

            <div>
                <label for="port">Порт:</label>
                <input
                    type="text"
                    name="port"
                    id="port"
                    placeholder="21"
                    size="4"
                />
            </div>

            <div>
                <label for="username">Имя пользователя:</label>
                <input
                    type="text"
                    name="username"
                    id="username"
                    placeholder="user"
                />
            </div>

            <div>
                <label for="password">Пароль:</label>
                <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="password"
                />
            </div>

            <div>
                <button class="button" type="submit">Подключиться</button>
            </div>
        </form>

        <main>{% block content %}{% endblock %}</main>

        <footer>
            <p>Статус: Соединено</p>
            <section id="scheme-switcher" aria-label="Color scheme switcher">
                <button
                    class="button"
                    type="button"
                    aria-pressed="false"
                    data-scheme="light"
                >
                    Light
                </button>
                <button
                    class="button"
                    type="button"
                    aria-pressed="true"
                    data-scheme="auto"
                >
                    Auto
                </button>
                <button
                    class="button"
                    type="button"
                    aria-pressed="false"
                    data-scheme="dark"
                >
                    Dark
                </button>
            </section>
        </footer>
    </body>
</html>
