{% extends "base.html" %} {% block content %}

<section class="panel">
    <div class="panel-header">Локальный сервер</div>
    <ul id="local-list" class="local-list" hx-get="/local_list" hx-trigger="load, refreshLocal from:body">
        <li>Нет данных</li>
    </ul>
</section>

<div class="transfer-controls">
    <button class="button" title="Upload" class="transfer-btn" hx-post="/upload" hx-include="#local-files-form"
        hx-swap="none">=&gt;</button>
    <button class="button" title="Download" class="transfer-btn" hx-post="/download" hx-include="#remote-files-form"
        hx-swap="none">&lt;=</button>
</div>

<section class="panel">
    <div class="panel-header">Удалённый сервер</div>
    <ul id="remote-list" class="file-list" hx-get="/list" hx-trigger="load, refreshRemote from:body">
        <li>Нет данных</li>
    </ul>
</section>

{% endblock %}