{% extends "base.html" %} {% block content %}

<section class="panel">
    <div class="panel-header">Локальный сервер</div>
    <ul
        id="local-list"
        class="local-list"
        hx-get="/local_list"
        hx-trigger="load"
    >
        <li>Нет данных</li>
    </ul>
</section>

<section class="panel">
    <div class="panel-header">Удалённый сервер</div>
    <ul id="remote-list" class="file-list" hx-get="/list" hx-trigger="load">
        <li>Нет данных</li>
    </ul>
</section>

{% endblock %}
